<div class="container">
    <h1 class="text-center mb-2 font-family:">
        ᴛᴏ ᴅᴏ ʟɪ𝚜ᴛ 𝚊𝚗𝚍 𝚃𝚊𝚜𝚔 𝙼𝚊𝚗𝚊𝚐𝚎𝚛📃</h1>

<app-add-todo (todoAdd)="addTodo($event)"> </app-add-todo>
<app-delete-all-todo (todoDeleteAll)="deleteAllTodo()"></app-delete-all-todo>

<h2
    style="text-align: center; color: rgb(5, 16, 48); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    Your To-do's 📑
</h2>

<div *ngIf="this.todos.length === 0; else elseBlock">No To-Do's to display. ☹ </div>
<ng-template #elseBlock>
    <div *ngFor="let todo of todos">
        <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)">
        </app-todo-item>
    </div>
</ng-template>
</div>
