<!-- <h1>This is {{title}} </h1>
  <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
    Harum, numquam! Deleniti minus aliquid placeat magnam, nisi fugit voluptatem iusto ipsam veritatis, 
    quis velit tempora voluptas recusandae officia dolorum provident nobis.
  </p> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink = "/"> To-do's List </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="/about">About</a>
        </li>
        

      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

