
<div class="container my-3">
    <div class="jumbotron">
        <!-- <h1 class="display-4" > </h1> -->

        <h1 style="text-align: left; background-color: rgb(231, 229, 229)  "> 𝐀𝐛𝐨𝐮𝐭 𝐓𝐡𝐢𝐬 𝐀𝐧𝐠𝐮𝐥𝐚𝐫 𝐀𝐩𝐩
            <p class="lead my-3">This is a Angular client-side Todos List Application, 
                that can be used to manage your daily T0-Do's list in your browser's storage uniquely. </p>
            <hr class="my-5">
            <h6> Here we have worked on multiple components, learned about EventEmitter, Ng Model Directives, Interpolation, Added
                Forms, Implemented Single Page Application via Angular Routing techniques.
                Hope you Like it.😊
            </h6>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

        </h1>
    </div>
    <hr class="my-5">

<h6 style="text-align: left; background-color: rgb(230, 228, 228); margin-top: 8.5%; padding-top: 1%; padding-left: 1%; padding-bottom: 1%;">
    <p>Contact the author of this App:   </p>
    <address>
        <a href="mailto:tiwari.kartikey27@gmail.com"> 📧 tiwari.kartikey27@gmail.com </a>
    </address>
</h6>
</div>